@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #F5F5F5; /* Gris claro para el track */
}
::-webkit-scrollbar-track:hover {
  background: #E0E0E0; /* Un poco más oscuro cuando se pasa el mouse por encima */
}

::-webkit-scrollbar-thumb {
  background: #9E9E9E; /* Gris medio para el thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #757575; /* Gris oscuro cuando se pasa el mouse por encima */
}
::-webkit-scrollbar-thumb:active {
  background: #616161; /* Gris muy oscuro cuando se hace clic */
}
